<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<style>
:root {
    --background-color: #fff;
    --page-width: 60em;
    --font-color: #151515;
    --global-font-color: #151515;
    --invert-font-color: #fff;
    --primary-color: #1a95e0;
    --secondary-color: #1a95e0;
    --error-color: #d20962;
    --progress-bar-background: #1a95e0;
    --progress-bar-fill: #151515;
    --code-bg-color: #e8eff2;
}

[data-theme="dark"] {
    --background-color: #222225;
    --page-width: 60em;
    --font-color: #e8e9ed;
    --global-font-color: #e8e9ed;
    --invert-font-color: #222225;
    --primary-color: #f8b7c0;
    --secondary-color: #f8b7c0;
    --error-color: #ff3c74;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #f8b7c0;
    --code-bg-color: #3f3f44;
}

[data-theme="light"] {
    --background-color: #fff;
    --page-width: 60em;
    --font-color: #151515;
    --global-font-color: #151515;
    --invert-font-color: #fff;
    --primary-color: #1a95e0;
    --secondary-color: #1a95e0;
    --error-color: #d20962;
    --progress-bar-background: #1a95e0;
    --progress-bar-fill: #1a95e0;
    --code-bg-color: #e8eff2;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: var(--font-stack);
    font-size: var(--global-font-size);
    margin-bottom: 75px;
}

.text-button {
    background: none;
    border: none;
    color: var(--primary-color);
    font-size: var(--global-font-size);
    font-family: var(--font-stack);
    text-decoration: none;
    cursor: pointer;
    padding: 0;
}

.text-button:hover {
    background-color: var(--primary-color);
    color: var(--invert-font-color);
}

.terminal code {
    color: var(--primary-color);
}

.scrollable-table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

.custom-table thead th {
  text-align: left;
  padding: 8px;
  color: var(--primary-color);
}

.custom-table td {
  text-align: left;
  padding: 8px;
  word-wrap: break-word;
}

.custom-table td strong {
  font-weight: bold;
}

input[type="text"], input[type="text"]:not(:placeholder-shown):invalid {
  border-color: var(--primary-color);
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  background-color: var(--background-color);
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="radio"]:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

input[type="text"], input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
  color: var(--primary-color);
  border-radius: 4px;
  margin-bottom: 15px;
  font-family: 'Courier New', Courier, monospace;
}

input[type="text"]:focus, input[type="date"]:focus {
  border-color: var(--primary-color);
  background-color: var(--background-color);
}

.custom-progress-bar {
    width: 100%;
    height: 45px;
    background-color: var(--background-color);
    border: 1px solid var(--font-color);
    overflow: hidden;
    margin-top: 10px;
}

.custom-progress-fill {
    height: 100%;
    width: 0%;
    background-color: var(--primary-color);
    transition: width 0.1s ease-in-out;
}

.custom-file-label {
    display: inline-block;
    color: var(--primary-color);
    cursor: pointer;
    text-align: center;
}

.custom-file-label:hover {
    background-color: var(--primary-color);
    color: var(--invert-font-color);
}

</style>
