{{ define "main" }}

Hi there! I'm Erny, a curious person who genuinely enjoys diving into the worlds of programming, networks, and electronics.
I love making random projects to experiment with new ideas that pop into my head.

<br/><br/>

I started my adventure in the world of software development at 9 years old creating programs with C on the
<a href="https://en.wikipedia.org/wiki/Ultra_5/10">Sun Ultra 5 workstation</a>! I have continued since then and C
remains my most loved language.

<br/><br/>

I have lived my entire life using UNIX/UNIX-like, starting with Solaris as a child and then moving to GNU/Linux.
I have never used Windows on my PC as my main OS, sometimes I get teased because I don't know how to do basic things
on Windows while on Linux I can do anything 😂.

{{ end }}
